body {
      font-family:"Roboto", "Helvetica", "Arial", sans-serif;
      font-size: 0.875rem;color:whitesmoke;
      font-weight: 400;
      font-weight: 1.43;
      letter-spacing: 0.01071em; 
      background-color:#252525;
}
 /*Header*/
 .header {
   width:auto;
   height: 60px;
   border: 1px solid #000000;
   background-color:#0d0d0f;
   margin:0;
   padding: 5 auto;
   text-align: left;
   position:sticky top;
   
 }
 .header-title{
   font-size: 18px;  
   text-align: left;
   color:white;
   margin: -50px 70px ;
 }
 .title-link {
   font-size: bold;
   color: white;
   text-decoration:none;
   
 }
 .title-link:hover 
 {
   text-decoration: underline white;
 }
   .logo {
    margin:5px 0 0 ;
    padding-left: 5px;
      
   }

 /*Navigation*/ 
 .nav {
   text-align: right;
   margin-top: 10px;
   padding: 10px;
 }
 .nav-link { 
   display:inline-block;
   padding: 8px 4px ;
   font-size: 16px;
   color: white;
   text-align: right;
   text-decoration: none;
    
 }
 .nav-link:hover 
 {
   text-decoration: underline white ;
 }
 /*enter login*/
 .enter
  {
    width: 22px;
    height: 22px;
    margin-top: 8px;
  }
/**Introduction**/
  .manage 

  {
    margin: 10 0;
    padding: 15px 0;
    display: wrap;
    justify-content:center;
            
  }
  .subtitle-manage 
  {
    text-align: center;
    font-size: 1.5rem;
  }
  .manage-text
  {
    text-align: center;
  }

  /* button style*/
    
  .store 
  { 
   display: flex;
   justify-content: center;
       align-items:center;
          
  }
  .apple, .google
  {
     width: 150px;
     height: 80px;
     margin: 0px 10px ;
     padding: 10;
  }
  .google
  {  margin: 0px 10px;
     padding: 5px;
  }
  h1
  {
    font-size: 1.5rem;
  }
.content
 { position: relative;
  
}

 /** text-1**/
.prepare-setlist
{ position: relative;
  margin: 0px  190px 0px;
  text-align: left;
  padding: 200px 0 0px;
  width: 850px;
  height: 300px;
  
}
/**image-1**/
.setlist 
{ position: absolute;
  right: 0px;
  bottom: 0px;
   width: 230px;
  height: 380px;
 
}
/**text-2**/
.your-songs
{
  position: relative;
  margin: 0px  190px 0px;
  text-align: right;
  padding: 80px 0 0px;
  width: 850px;
  height: 300px;
  
}

/**image-2**/
.store-songs    
{ position: absolute;
  left: 0px;
  top: 0px;
  width: 230px;
  height: 380px;
}

/** Text-3**/
.band
{
  position: relative;
  margin: 0px  190px 0px;
  text-align: left;
  padding: 80px 0 0px;
  width: 850px;
  height: 300px;
  
}
 /** image-3**/
.manage-band
{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 230px;
  height: 380px;
 
}
 /** text-4**/
.library
{
  position: relative;
   
   margin: 0px  190px 0px;
   text-align: right;
   padding: 80px 0 0px;
   width: 850px;
   height: 300px;
   
}
/** image-4**/
.library-songs
{ position: absolute;
  left: 0px;
  top: 0px;
   width: 230px;
  height: 380px;
}
/** text-5**/
.optimize
{
  position: relative;
  margin: 0px  190px 0px;
  text-align: left;
  padding: 80px 0 0px;
  width: 850px;
  height: 300px;
  
}
/** image-5**/
.optimize-band
{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 230px;
  height: 380px;
}
 /** text-6**/
.perform
{
  position: relative;
   margin: 0px  190px 0px;
   text-align: right;
   padding: 80px 0 0px;
   width: 850px;
   height: 300px;
   
}
/** image-6**/
.perform-better
{
  position: absolute;
  left: 0px;
  top: 0px;
   width: 230px;
  height: 380px;
}
/** text-7**/
.notified
{ position: relative;
  margin: 0px  190px 0px;
  text-align: left;
  padding: 80px 0 0px;
  width: 850px;
  height: 300px;
  
}
/** image-7**/
.be-notified
{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 230px;
  height: 380px;
}
/**text-8**/
.print
{
  position: relative;
  margin: 0px  190px 0px;
  text-align: right;
  padding: 80px 0 0px;
  width: 850px;
  height: 300px;
 
}
/**image-8**/
.print-setlists 
{
  position: absolute;
  left: 0px;
  top: 0px;
   width: 230px;
  height: 380px;
}
.sharing-data
{
  width:auto;
  height: auto;
  text-align: center;
  margin: 80px 0 80px;
}
.free-usage
{
  width:auto;
  height: auto;
  text-align: center;
  margin: 80px 0 80px;
}
.questions
{
  width:auto;
  height: auto;
  text-align: center;
  margin: 80px 0 80px;
}
/*Contact*/
.contact 
{
    padding: 8px 8px ;
   font-size:bold;
   color:#ffffff;
   text-align: center;
   text-decoration: none;
}
.contact-image 
{
  margin-right: 15px;
  padding: 8px 5px;
}
.contact-link 
{
  font-size: bold;
  color: #ffffff;
  margin-right: 0px;
  padding: 8px 5px;
}



/*navigation footer*/
.nav-footer
{
   display:inline-block;
   
   font-size:bold;
   text-align: center;
   
  }
.footer-link
{
  color:#ffffff;
  text-decoration: none;
  padding: 8px 4px ;
}

  .footer-link:hover
{
  text-decoration: underline white ;
}